<h1>Chat</h1>

<div id="messages">
  <%= render @messages %>
</div>

<h2>mensaje:</h2>

<%= form_with url: '#', html: {id: 'new-message'} do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, id: 'message-body' %>

  <div class="form-group">
    <%= f.file_field :attachment, id: 'message-attachment' %>
    <br>
    <small>Solo PNG, JPG y GIf</small>
  </div>

  <br>
  <%= f.submit 'enviar'%>
<% end %>
